
body{
  background-color: red;
}

.heading{
  float: left;
  margin-left: 10%;
  width: 80%;
  height: 10%;
  background-color: blue;
  margin-bottom: 5%;
  text-align: center;
}

.leftbox{
  float: left;
  width: 20%;
  height: 70%;
  margin-left: 5%;
  background-color: yellow;
  text-align: center;
}

.rightbox{
  text-align: center;
  float: right;
  width: 60%;
  height: 70%;
  margin-right: 5%;
  background-color: green;
}

.card{
  width: 90%;
  height: 35%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: orange;
  border: 2px;
  border-color: black;
  border-style: solid;
  text-align: center;
}
