body{
  background-color: lightgrey;
}

.header{
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.leftColumn{
  float:left;
  width: 15%;
  margin-left: 2%;
}

.picture {
  width: 40%;
  height: 40%;
}

.card{
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  background-color: #FAEBD7;
  margin-top: 20px;
}

.mainContent{
  float: right;
  width: 75%;
  background-color: #ffe6e6;
  border: 2px;
  border-style: groove;
  border-color: grey;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  margin-right: 2%;
  height: auto;
}

.leftMain{
  float: left;
  width: 45%;
  border: 2px;

}

.rightMain{
  float: right;
  width: 45%;
  border: 2px;
}

.footer {
  float: left;
  width: 100%;
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
